<div class="statistics-page">
  <div class="title">{{ countryName }}</div>
  <div class="stats-list">
    <div class="stat-item">
      <div>Number of entries</div>
      <div class="stat-value">{{ totalEntries$ | async }}</div>
    </div>
    <div class="stat-item">
      <div>Total number medals</div>
      <div class="stat-value">{{ totalmedals$ | async }}</div>
    </div>
    <div class="stat-item">
      <div>Total number of athletes</div>
      <div class="stat-value">{{ totalAthletes$ | async }}</div>
    </div>
  </div>
  <div *ngIf="error$ | async as error">
    {{ error }}
  </div>
  <app-loader class="loader" *ngIf="isLoading$ | async"></app-loader>
  <div *ngIf="!(error$ | async) && !(isLoading$ | async)">
    <div
      *ngIf="medalsByParticipation$ | async as medalsByParticipation"
      class="chart"
    >
      <app-line-chart
        *ngIf="medalsByParticipation[0].series.length > 0; else message"
        [lineChartData]="medalsByParticipation"
      >
      </app-line-chart>
      <ng-template #message>Aucune donnée à afficher</ng-template>
    </div>
  </div>
</div>
