<div class="general-info">
  <div class="title">{{ countryName }}</div>
  <div class="secondary-info">
    <div class="info">
      <div>Number of entries</div>
      <div>{{ totalEntries$ | async }}</div>
    </div>
    <div class="info">
      <div>Total number medals</div>
      <div>{{ totalmedals$ | async }}</div>
    </div>
    <div class="info">
      <div>Total number of athletes</div>
      <div>{{ totalAthletes$ | async }}</div>
    </div>
  </div>
  <div *ngIf="error$ | async as error">
    {{ error }}
  </div>
  <div class="loader" *ngIf="isLoading$ | async">
    Chargement en cours
    <span class="dot d1"></span>
    <span class="dot d2"></span>
    <span class="dot d3"></span>
  </div>
  <div *ngIf="!(error$ | async) && !(isLoading$ | async)">
    <div *ngIf="medalsByParticipation$ | async as medalsByParticipation">
      <app-line-chart
        *ngIf="medalsByParticipation[0].series.length > 0; else message"
        [lineChartData]="medalsByParticipation"
      >
      </app-line-chart>
      <ng-template #message>Aucune donnée à afficher</ng-template>
    </div>
  </div>
</div>
