<div class="general-info">
  <div class="title">{{ countryName }}</div>
  <div class="secondary-info">
    <div class="info">
      <div>Number of entries</div>
      <div class="bold">{{ totalEntries$ | async }}</div>
    </div>
    <div class="info">
      <div>Total number medals</div>
      <div class="bold">{{ totalmedals$ | async }}</div>
    </div>
    <div class="info">
      <div>Total number of athletes</div>
      <div class="bold">{{ totalAthletes$ | async }}</div>
    </div>
  </div>
  <div *ngIf="error$ | async as error">
    {{ error }}
  </div>
  <app-loader class="loader" *ngIf="isLoading$ | async"></app-loader>
  <div *ngIf="!(error$ | async) && !(isLoading$ | async)">
    <div
      *ngIf="medalsByParticipation$ | async as medalsByParticipation"
      class="chart"
    >
      <app-line-chart
        *ngIf="medalsByParticipation[0].series.length > 0; else message"
        [lineChartData]="medalsByParticipation"
      >
      </app-line-chart>
      <ng-template #message>Aucune donnée à afficher</ng-template>
    </div>
  </div>
</div>
