<!--h2>Olympic games app</h2>
<hr />
<p>{{ (olympics$ | async)?.length }} data loaded</p-->

<div class="general-info">
  <div class="title">Medals per Country</div>
  <div class="secondary-info">
    <div class="info">
      <div>Number of JOs</div>
      <div>{{ numberOfJos$ | async }}</div>
    </div>
    <div class="info">
      <div>Number of Country</div>
      <div>{{ numberOfCountry$ | async }}</div>
    </div>
  </div>
  <div *ngIf="error$ | async as error">
    {{ error }}
  </div>
  <div class="loader" *ngIf="isLoading$ | async">
    Chargement en cours
    <span class="dot d1"></span>
    <span class="dot d2"></span>
    <span class="dot d3"></span>
  </div>
  <div *ngIf="!(error$ | async) && !(isLoading$ | async)">
    <div *ngIf="medalPerCountry$ | async as medalPerCountry">
      <app-pie-chart
        *ngIf="medalPerCountry.length > 0; else message"
        [chartData]="medalPerCountry"
      >
      </app-pie-chart>
      <ng-template #message>Aucune donnée à afficher</ng-template>
    </div>
  </div>
</div>
