/* You can add global styles to this file, and also import other style files */

/*Import police*/
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;600&family=Montserrat:wght@100;400;600;700;800&display=swap');

/*Define variable*/
:root {
    --blue-color: rgb(29,129,141);
    --label-size: 20px
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family:'Montserrat', sans-serif;
  font-weight: 300;
}

/*---------LOADER-----------*/
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: var(--blue-color);
  padding: 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;

}

.dot {
  width: 20px;
  height: 20px;
  background-color: var(--blue-color);
  border-radius: 50%;
  animation: animate 0.3s infinite alternate;
}

.d2 {
  animation-delay: 0.05s;
}

.d3 {
  animation-delay: 0.1s;
}
@keyframes animate {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 0.5;
  }
  100% {
      opacity: 1;
  }
}



@media (max-width: 768px) {
    :root {
      --label-size: 12px
    }

    .info {
      font-size: 12px;
    }

    .title {
      font-size: 10px;
    }
     
  }