::ng-deep ngx-charts-pie-chart .pie-label {
    font-size: var(--label-size) !important;
    color: black;
    display: var(--label-display);
}

::ng-deep ngx-charts-pie-chart .pie-label-line {
    display: var(--label-display);
}

::ng-deep ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
    background-color: var(--blue-color) !important;
    padding: 10px;
}